body {
  font-family: "Courgette", cursive;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel .item {
  height: 500px;
}

.carousel-inner > .item > img {
  position: absolute;
  height: 500px;
  top: 0;
  left: 0;
  min-width: 100%;
}

.marketing {
  text-align: center;
  margin-bottom: 20px;
}

.feature-divider {
  margin: 100px 20px;
}

.feature {
  margin: 50px;
  padding: 50px;
}

.feature p {
  font-size: 22px;
  color: dimgrey;
}

.about {
  margin-top: 200px;
}

.me {
  width: 350px;
  height: 350px;
}

.contact {
  text-align: center;
  margin-top: 150px;
}

.form-group {
  margin: 0 auto;
  float: none;
  width: 500px;
  margin-bottom: 5px;
}

@media (max-width: 550px) {
  .form-group {
    width: 100%;
  }
}

.title {
  text-align: center;
  margin-bottom: 100px;
}

.footer {
  margin-top: -50px;
  margin-bottom: 30px;
  text-align: center;
}

.contact {
  margin-top: 200px;
  margin-bottom: 150px;
}
